// variables
$btn-border-radius: 50px;

// custom styling
.v-btn {
  text-transform: initial;

  .v-btn__content {
    .v-icon {
      color: map-get($secondary-one, 'lighten-1');
    }
  }

  &:not(.v-btn--icon):not(.v-btn--flat) {

    &:not(.v-btn--depressed) {
      @include elevation(4);

      &:active {
        @include elevation(8);
      }
    }
  }
}