// variables
$chip-pill-avatar-size: 30px;

// custom styling
.v-chip {

  &:not(.primary),
  &:not(.secondary),
  &:not(.accent),
  &:not(.success),
  &:not(.error),
  &:not(.warning),
  &:not(.info) {
    border: 1px solid map-get($secondary-one, 'base');
    color: map-get($secondary-one, 'lighten-1');

    .v-chip__content {
      .v-avatar {
        color: white;
      }

      .v-icon {
        color: currentColor;
      }
    }
  }
}